<h1>Movies</h1>
<%= form_with url: movies_path, method: :get, local: true do %>
  <%= label_tag :actor, "Search by Actor" %>
  <%= text_field_tag :actor, params[:actor] %>
  <%= submit_tag "Search" %>
<% end %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Year</th>
      <th>Director</th>
      <th>Actor</th>
      <th>Filming Location</th>
      <th>Country</th>
      <th>Average Rating</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.name %></td>
        <td><%= movie.description %></td>
        <td><%= movie.year %></td>
        <td><%= movie.director %></td>
        <td><%= movie.actor %></td>
        <td><%= movie.filming_location %></td>
        <td><%= movie.country %></td>
        <td><%= movie.reviews.average(:stars).to_f.round(2) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
